@model WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "BookStore: Your cart ";
}

<h2>ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>Count</th>
            <th>Name</th>
            <th class="text-right">Price</th>
            <th class="text-right">Results</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <th class="text-center">@line.Quantity</th>
                <th class="text-left">@line.Book.Name - @line.Book.Author</th>
                <th class="text-right">@line.Book.Price.ToString("# grn")</th>         
                <th class="text-right">@((line.Quantity * line.Book.Price).ToString("# grn"))</th>
            </tr>
        }

    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Result:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("grn")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
</div>